Flask==2.0.1
Flask-CORS==3.0.10
tqdm>=4.36
torch>=1.8.1
torchaudio>=0.8,<2.2
demucs==4.0.1
mir_eval==0.7
werkzeug==2.0.1
dora-search>=0.1.12
diffq>=0.2.1
einops
flake8
hydra-colorlog>=1.1
hydra-core>=1.1
julius>=0.2.3
lameenc>=1.2
museval
mypy
openunmix
pyyaml
submitit
treetable
soundfile>=0.10.3
gunicorn
numpy==1.26.4
requests